## Assignments

## File : Pandas Assignment 01

### Topic : Exercise 1- 5

#### Submitted by: Anoop V H


##### Version : 1.0

##### Date's:
##### Start date of assignment : Feb 16, 2020
##### First Submission date : Feb 22,2020

## 1. Print your slightly cleaned-up view of the movies dataframe; specifically, use the view resulting from problem 3a on HW#2. (Notice how Jupyter automatically elides most of the data to show you just a head/tail-oriented sample of its content.)

In [1]:
import pandas as pd
import numpy as np

mov_df=pd.DataFrame(pd.read_csv("movie_metadata.csv"))

mov_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## 2. Use the dataframe info method to get a summary of the nature of the movies dataframe.

In [2]:
mov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

## 3. Use the describe method to get a sense of the numeric columns’ data distributions in the movies dataframe.

In [3]:
mov_df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## 4. List the movie ids, titles, and genres for movies released in 2015 whose genres include ‘Children’.

In [12]:
mov_sub_df=pd.read_csv("movie_metadata.csv",usecols=['movie_title','title_year','plot_keywords'])
#mov_sub_df[((mov_sub_df['plot_keywords'].str.match('children')) & ((mov_sub_df['title_year']==2015))]
mov_sub_df.head()

,movie_title,plot_keywords,title_year
0,AvatarÂ,avatar|future|marine|native|paraplegic,2009.0
1,Pirates of the Caribbean: At World's EndÂ,goddess|marriage ceremony|marriage proposal|pi...,2007.0
2,SpectreÂ,bomb|espionage|sequel|spy|terrorist,2015.0
3,The Dark Knight RisesÂ,deception|imprisonment|lawlessness|police offi...,2012.0
4,Star Wars: Episode VII - The Force AwakensÂ ...,NaN,NaN

In [13]:
temp=mov_sub_df.notnull

In [14]:
temp[temp.plot_keywords.isin(['Children'])]

AttributeError: 'function' object has no attribute 'plot_keywords'

## 5. Examine the distribution of movies over time by printing, for each distinct release year value, the number of movies released in that year.

In [32]:
mov_df.groupby(["title_year"]).sum()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
title_year,,,,,,,,,,,,,,,
1916.0,69.0,123.0,204.0,9.0,436.0,0.000000e+00,10718,481,1.0,88.0,3.859070e+05,22.0,8.0,1.33,691
1920.0,1.0,110.0,0.0,0.0,2.0,3.000000e+06,5,4,1.0,1.0,1.000000e+05,2.0,4.8,1.33,0
1925.0,48.0,151.0,54.0,6.0,81.0,0.000000e+00,4849,108,0.0,45.0,2.450000e+05,12.0,8.3,1.33,226
1927.0,260.0,145.0,756.0,18.0,136.0,2.643500e+04,111841,203,1.0,413.0,6.000000e+06,23.0,8.3,1.33,12000
1929.0,107.0,210.0,25.0,7.0,503.0,2.817950e+06,11977,564,9.0,155.0,3.790000e+05,48.0,14.3,2.70,1093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012.0,51500.0,23298.0,116944.0,274583.0,1707435.0,1.138011e+10,24556959,2826655,394.0,57939.0,8.146368e+09,533074.0,1384.9,493.46,5361240
2013.0,52320.0,25510.0,98166.0,201050.0,2066861.0,1.050161e+10,23472035,3046067,436.0,56788.0,8.631557e+09,569847.0,1509.6,497.63,5952446
2014.0,42752.0,26462.0,141060.0,186241.0,1571430.0,1.042283e+10,19532379,2403822,386.0,51746.0,8.089608e+09,418762.0,1569.5,448.95,5022157
2015.0,36152.0,23749.0,91344.0,202690.0,1565981.0,9.513928e+09,12629706,2465649,316.0,39434.0,7.889754e+09,469011.0,1363.6,395.82,4469358
2016.0,15889.0,11621.0,34990.0,72927.0,1107603.0,5.692379e+09,3635027,1532855,188.0,19716.0,5.267775e+09,259792.0,678.3,206.48,1866731